$headerBG: #040b14;
$buttonBG: #116fd3;
$bigText: #e1e4e8;
$HomePageBG: rgba(58, 48, 48, 0.933);
$TimeDateBGeBG: #023b6de0;
$BoxShadow: rgba(64, 66, 69, 0.166);
$Light-gray: rgb(97, 98, 98);

.gradient-box {
  background: linear-gradient(
    to right,
    $HomePageBG 40%,
    rgba(255, 255, 255, 0) 100%
  );
}
