@mixin imageSize {
  max-width: 100%;
  height: auto;
}
@mixin gridCenter {
  display: grid;
  justify-content: center;
}
@mixin headerMainPage {
  display: grid;
  grid-template-columns: auto 1fr;
}
