@mixin imageSize {
  max-width: 100%;
  height: auto;
}
@mixin gridCenter {
  display: grid;
  justify-content: center;
}
@mixin headerMainPage {
  display: grid;
  grid-template-columns: auto 1fr;
}

@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin mdHeader {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: 1400px) {
    @content;
  }
}
