@import "../core/fontFamily";
@import "../core/Slider";
.about-me-main-div {
  .about-me-wrapper {
    @include mobile-version-layOut;
    margin: 0px 30px;

    .about-text {
      h1 {
        @include text-lead;
      }
      p {
        @include text-lg;
      }
    }
    .image-and-info {
      .about-image {
        img {
          @include imageSize;
          margin: 50px 0px;
        }
      }
      .about-infp {
        h2 {
          @include text-lead;
        }
        p {
          @include text-lg;
        }
        .all-info-about-me {
          display: grid;
          @include text-box-shadow;
          margin-top: 30px;
          @include md {
            margin: 70px 30px;
            padding-left: 60px;
          }
          ul {
            li {
              margin-top: 30px;

              h4 {
                @include h5;
                display: flex;
                align-items: center;
                gap: 15px;
                margin-bottom: 15px;
              }
              p {
              }
            }
          }
          .all-info-about-me-2 {
            margin-top: 30p;
          }
        }
      }
    }
  }

  @include lg {
    @include headerMainPage;

    .about-me-wrapper {
      height: 100vh;
      overflow-y: scroll;
      .image-and-inf {
        .about-image {
          img {
            width: 30%;
            height: auto;
            margin: 30px 0px;
          }
        }
      }
    }
  }
}
