@import "../core/Colors";
@import "../core/Mixin";

.header-wrapper {
  background-color: $headerBG;
  height: 100vh;
  width: 20%;
  @include gridCenter;
  .header-image-and-tex {
    background-color: rgb(52, 99, 99);
    @include gridCenter;
    color: aliceblue;
    .logo-image {
      @include gridCenter;
      .my-logo-image {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-top: 20px;
        box-shadow: rgb(214, 214, 219) 0px 0px 15px;
      }
    }
    .mediaIcons {
      font-size: 20px;
      display: flex;
      justify-content: space-between;
      a {
        color: $bigText;
      }
    }
  }
}
