@import "../core/Colors";
@import "../core/Mixin";

.header-wrapper {
  background-color: $headerBG;
  height: 100vh;
  width: 280px;

  @include mdHeader {
    width: 100%;
    height: auto;
  }
  .content-header {
    @include mdHeader {
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $headerBG;
    }
  }

  .header-image-and-tex {
    @include gridCenter;
    color: aliceblue;

    .logo-image {
      @include gridCenter;
      .my-logo-image {
        height: 110px;
        width: 110px;
        border: 8px solid #2c2f38;
        border-radius: 50%;
        margin-top: 40px;
        box-shadow: rgb(214, 214, 219) 0px 0px 15px;
        @include mdHeader {
          margin-left: 15px;
        }
      }
      @include mdHeader {
      }
    }
    .logoText {
      @include mdHeader {
        display: none;
      }
    }
    .mediaIcons {
      font-size: 20px;
      display: flex;
      gap: 12%;
      a {
        color: $bigText;
      }
      @include mdHeader {
        display: none;
      }
    }
  }
  .header-nav {
    @include mdHeader {
      position: fixed;
      top: 0;
      left: -100%;
      width: 50%;
      height: 100%;
      background-color: $TimeDateBGeBG;
      transition: left 0.3s ease;

      &.open {
        left: 0;
      }

      ul {
        margin-top: 25%;
        display: flex;
        flex-direction: column;

        li {
          padding: 20px;
          a {
            color: #fff;
            display: block;
          }
        }
      }
    }
    ul {
      margin-top: 25%;
      display: grid;
      gap: 35px;
      margin-left: 10%;
      li {
        list-style: none;
        a {
          color: $bigText;
          display: flex;
          gap: 20px;
        }
        & :hover {
          font-size: large;
          font-weight: 600;
          color: $buttonBG;
        }
      }
    }
  }
  .Header-burger-cross-menue {
    display: none;
    @include mdHeader {
      cursor: pointer;
      color: $bigText;
      display: flex;
      align-items: center;
      margin-right: 8%;
      font-size: 30px;
      &:hover {
        color: $buttonBG;
        font-size: 35px;
      }
    }
  }
  header {
    .header-p {
      margin-top: 90px;

      @include gridCenter;
      color: $bigText;
    }
  }
}
