@import "../core/Colors";
@import "../core/Mixin";

.header-wrapper {
  background-color: $headerBG;
  height: 100vh;
  width: 20%;
  //   @include gridCenter;

  .header-image-and-tex {
    @include gridCenter;
    color: aliceblue;

    .logo-image {
      @include gridCenter;
      .my-logo-image {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-top: 20px;
        box-shadow: rgb(214, 214, 219) 0px 0px 15px;
      }
    }
    .Header-burger-cross-menue {
      display: none;
    }
    .mediaIcons {
      font-size: 20px;
      display: flex;
      gap: 12%;
      a {
        color: $bigText;
      }
    }
  }
  .header-nav {
    ul {
      margin-top: 25%;
      display: grid;
      gap: 35px;
      margin-left: 10%;
      li {
        list-style: none;
        a {
          color: $bigText;
          display: flex;
          gap: 20px;
        }
      }
    }
  }
  header {
    .header-p {
      margin-top: 35%;
      @include gridCenter;
      color: $bigText;
    }
  }
}
