@import "../core/Mixin";
@import "../core/Colors";

.homepage-main-div {
  .gradient-box {
    display: grid;
    justify-content: center;
    align-items: center;
    .current-time-and-date {
      display: none;
    }
    .home-video {
      video,
      img {
        @include imageSize;
      }
      video {
        display: none;
      }
    }
  }
  .text-in-home-page {
    display: grid;
    gap: 35px;
    padding-left: 30px;
    align-items: center;
    color: $bigText;
    &:hover {
      color: $buttonBG;
    }
  }
  @include md {
    @include headerMainPage;
    .gradient-box {
      display: grid;
      height: 100vh;
      border: $TimeDateBGeBG;
      position: relative;
      .home-video {
        video {
          display: flex;
          @include imageSize;
        }
        img {
          display: none;
        }
      }
      .current-time-and-date {
        display: flex;
        justify-content: flex-end;
        margin-right: 30px;
        align-items: center;
        h3 {
          background-color: $TimeDateBGeBG;
          padding: 12px 30px;
          border-radius: 10px;
          color: $bigText;
          font-size: 1.4rem;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          z-index: 10;
          position: absolute;
          margin-top: 8rem;
          &:hover {
            color: $buttonBG;
          }
        }
      }
      .text-in-home-page {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        h3 {
          font-size: 24px;
          color: #bec0c1; /* Default color */
          opacity: 0;
          white-space: nowrap;
          opacity: 1;
          animation: slideIn 20s linear infinite;
          &:hover {
            color: $buttonBG;
          }
        }

        @keyframes slideIn {
          from {
            transform: translateX(100%);
          }
          to {
            transform: translateX(-100%);
          }
        }
      }
    }
  }
}
