@import "../core/Mixin";
.cv-cover-letter-main-div {
  display: grid;
  @include lg {
    @include headerMainPage;
  }

  .cv-cover-letter {
    height: 100vh;
    overflow-y: scroll;

    .cv-section {
      .cvOne,
      .cvTwo {
        .download-cv,
        .download-coverLatter {
          margin-top: 30px;
        }
        @include lg {
          display: grid;
          justify-content: center;
        }
        img {
          @include imageSize;
          @include lg {
            height: 80rem;
          }
        }
      }
    }
    .cover-letter {
      @include lg {
        display: grid;
        justify-content: center;
      }
      img {
        @include imageSize;
        @include lg {
          height: 80rem;
        }
      }
    }
  }
}
