@import "../core/Mixin";
.cv-cover-letter-main-div {
  display: grid;
  @include lg {
    @include headerMainPage;
  }

  .cv-cover-letter {
    height: 100vh;
    overflow-y: scroll;

    .cv-section {
      .cvOne,
      .cvTwo {
        .download-cv {
          margin-top: 30px;
          display: flex;
          align-items: center;
          gap: 12px;
          @include md {
            width: 20%;
          }
        }
        @include lg {
          display: grid;
          justify-content: center;
        }
        img {
          @include imageSize;
          @include lg {
            height: 80rem;
          }
        }
      }
    }
    .cover-letter {
      .download-coverLatter-btn {
        display: flex;
        align-items: center;
        gap: 12px;
        @include md {
          max-width: 20%;
        }
      }
      @include lg {
        display: grid;
        justify-content: center;
      }
      img {
        @include imageSize;
        @include lg {
          height: 80rem;
        }
      }
    }
  }
}
